body.logged_out {
  background: transparent url(active_admin_image_path('/customize/bg.png')) top left repeat-x;;

  #content_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 270px;
    margin: -185px auto 0 -250px;
    border-radius: 3px;
    #active_admin_content {
      // @include shadow;
      // background: #fff;
      border: 1px solid #ccc;
      padding: 13px 30px;
      background: white;//transparent url(active_admin_image_path('/customize/bg_popup.png')) top left repeat;;
    }
  }

  h2 {
    font-size: 14px;
    @include section-header;
    // @include primary-gradient;
    // @include text-shadow(#000);
    // box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border: none;
    border-bottom: 1px solid #ccc;
    color: #555;
    margin: -13px -30px 20px -30px;
    padding: 10px 10px 10px 15px;
  }

  #login {
    /* Login Form */
    form {
      fieldset {
        @include no-shadow;
        background: none;
        padding: 0;
        li { padding: 7px 0; }

        label {
          padding: 10px 0 0 0;
        }

        input[type=text], input[type=email], input[type=password] {
          width: 70%;
        }
        &.buttons { margin-left: 20%; }
        margin-bottom: 0;

        input[type="submit"] {          
          position: relative;
          // font-family: "Lobster";
          // font-size: 16px;
          // color: #5c8fb6;
          border: 1px solid #dfdfdf;
          font-weight: normal;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          -webkit-box-shadow: 0 2px 2px #ececec;
          -moz-box-shadow: 0 2px 2px #ececec;
          box-shadow: 0 2px 2px #ececec;
          background-color: #f6f6f6;
          background-image: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f2f2f2));
          background-image: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2);
          background-image: -o-linear-gradient(top, #f9f9f9, #f2f2f2);
          background-image: linear-gradient(to bottom, #f9f9f9, #f2f2f2);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF9F9F9', endColorstr='#FFF2F2F2', GradientType=0);
          -webkit-transition: background-color 0.5s linear;
          -moz-transition: background-color 0.5s linear;
          -o-transition: background-color 0.5s linear;
          transition: background-color 0.5s linear;
          -webkit-transition: color 0.5s linear;
          -moz-transition: color 0.5s linear;
          -o-transition: color 0.5s linear;
          transition: color 0.5s linear;
          z-index: 101;
          zoom: 1;

          font-size: 15px;
          padding: 8px 18px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          text-shadow: -1px 1px 1px white;
        }
        input[type="submit"]:hover,
        input[type="submit"]:focus,
        input[type="submit"]:active,
        input[type="submit"].active {
           color: #545454;
          background-color: #e6e6e6;
        }
      
      }
    }

    a { float: right; margin-top: -32px; }
  }

  .flash.flash_alert {
    padding: 15px;    
    color: #3a87ad;
    background-color: #d9edf7;
    // border-color: #bce8f1;
    border: 1px solid #bce8f1 !important;
    border-radius: 4px;
  }

}
