// Variables used throughout Active Admin.
// They can be overridden by prepending your own
// to 'app/assets/stylesheets/active_admin.css.scss'.

// Colors
$primary-color: #5E6469 !default;
$secondary-color: #f0f0f0 !default;
$text-color: #323537 !default;
$link-color: #38678b !default;
$section-header-text-color: $primary-color !default;
$current-menu-item-background: lighten($primary-color, 12%) !default;
$hover-menu-item-background: lighten($primary-color, 12%) !default;
$table-stripe-color: lighten($primary-color, 57%) !default;
$table-selected-color: #d9e4ec !default;
$error-color: #932419 !default;

// Sizes
$horizontal-page-margin: 30px !default;
$sidebar-width: 270px !default;
$cell-padding: 5px 10px 3px 10px !default;
$cell-horizontal-padding: 12px !default;
$section-padding: 15px !default;
$text-input-horizontal-padding: 10px !default;

// Colors
// Accents
$blue: #368ee0;
$orange: #f8a31f;
$red: #E51400;
$green: #339933;
$lime: #8CBF26;
$teal: #00ABA9;
$purple: #FF0097;
$brown: #A05000;
$pink: #E671B8;
$magenta: #A200FF;
$grey: #333333;
$darkBlue: #204e81;
$lightRed: #e63a3a;
$lightGrey: #666666;
$satBlue: #2c5e7b;
$satGreen: #56af45;
$grey-3: #eee;
$grey-4: #999;

// Greys
$dark: #2a2a2a;
$light: #FFF;
$bg: #eee;

// Fonts
$font: #e9e9e9;

$colornames: "blue" "orange" "red" "green" "lime" "teal" "purple" "brown" "pink" "magenta" "grey" "darkblue" "lightred" "lightgrey" "satblue" "satgreen" "grey-3" "grey-4";
$colors: $blue $orange $red $green $lime $teal $purple $brown $pink $magenta $grey $darkBlue $lightRed $lightGrey $satBlue $satGreen $grey-3 $grey-4; 