<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    / Apple devices fullscreen
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    / Apple devices fullscreen
    %meta{:content => "black-translucent", :names => "apple-mobile-web-app-status-bar-style"}/
    %title= [@page_title, render_or_call_method_or_proc_on(self, ActiveAdmin.application.site_title)].compact.join(" | ")
    
    -ActiveAdmin.application.stylesheets.each do |style, options|
      =stylesheet_link_tag style, options
    -ActiveAdmin.application.javascripts.each do |path|    
      = javascript_include_tag path  
    
    / Favicon
    %link{:href => image_path("active_admin/img/favicon.ico"), :rel => "shortcut icon"}/
    / Apple devices Homescreen icon
    %link{:href => image_path("active_admin/img/apple-touch-icon-precomposed.png"), :rel => "apple-touch-icon-precomposed"}/
  %body.login
    .wrapper
      =yield